@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ChatTopics</h1>
    <p>A site that lets you create any number of chat rooms that any number of people can join!<p>
    <strong>If Topics are not used within 5 minutes they will be deleted from the system.</strong>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <!--all topics-->
            <input placeholder="search open Topics" class="w-100" />
            <div class="message-container">
                <table class="table" id="topic-list">
                    <thead>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            for(int i = 0; i < Model.Count; i++)
                            {
                                <tr class="topic-entry">
                                
                                    <td class="topics">
                                        <span id="topic_@i" style="float:left">@Model[i].Name</span>
                                    </td>
                                    <td>
                                        <button id="join_topic_@i" class="btn btn-primary" onclick="joinTopic('topic_@i')">Join Topic</button>
                                    </td>
                                    <td>
                                        <button disabled id="leave_topic_@i" class="btn btn-danger" onclick="leaveTopic('topic_@i')">Leave Topic</button>
                                    </td> 
                                
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-8">
            <!--chat area-->
            <div class="message-container">
                <table id="chat-messages" class="table table-striped rows">
                    <thead></thead>
                    <tbody>
                        <tr class="chats" style="display:none">
                            <td>
                                <div class="left"><strong id="customer-name"></strong></div>
                                <span id="customer-message">
                                </span>
                                <span class="time-right" id="message-time"></span>
                            </td>
                        </tr>
                        <!--
                        <tr class="chats">
                            <td>
                                <div class="left"><strong id="customer-name">Ben</strong></div>
                                <span id="customer-message">
                                    Hello. How are you today?
                                </span>
                                <span class="time-right" id="message-time">11:00</span>
                            </td>
                        </tr>
                        -->
                    </tbody>
                </table>
            </div>
		</div>
        <div class="col-2">
            <!--create topic area-->
            <div class="row">
                <div class="col">
                    @{if (User.Identity.IsAuthenticated) 
                        {
                            <form id="create-topic">
                                <div class="input-group">
                                    <input id="new-topic" type="text" class="form-control" placeholder="Topic Name" required>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-primary" type="submit">Create Topic</button>
                                    </div>
                                </div>
                            </form>
                        }
                        else
                        {
                            <form id="login">
                                <div class="input-group">   
                                    <input id="username" type="text" class="form-control" placeholder="username" min="3" required>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-primary" type="submit">Login</button>
                                    </div>
                                </div>
                                <strong id="error" style="color:red;"></strong>
                            </form>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <form id="chat-form">
                <div class="input-group type">
                    <input id="new-message" type="text" class="form-control" placeholder="Chat here..." required>
                    <div class="input-group-append">
                        <button class="btn btn-outline-light" type="submit"><img src="~/outline_send_black_24dp.png"/></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}