@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ChatTopics</h1>
    <p>A site that lets you create any number of chat rooms that any number of people can join!<p>
</div>
<p>Below are the available Topics you can join</p>

@{
    for(int i = 0; i < Model.Count; i++)
    {
        <h2>@Model[i]</h2>
    }
}



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}