html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;

  }
}

html {
    overflow: hidden;
    height: 100%;
}

/* Chat containers */
.chat {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin: 0.5rem !important;
}

/* Darker chat container */
.darker {
    border-color: #ccc;
    background-color: #ddd;
}

/* Clear floats */
.container::after {
    content: "";
    clear: both;
    display: table;
}

/* Style time text */
.time-right {
    float: right;
    color: #aaa;
}

/* Style time text */
.time-left {
    float: left;
    color: #999;
}
.message-container {
    height: 550px;
    overflow: auto;
}

.left {
    float: left;
    padding-right: 45px;
}
.right {
    float: right;
}

.type {
    background-color: #ffffff;
    margin: 0.5rem !important;
}